  .contact-us {
      position: relative;
  }

  .contact-gradient {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 50%;
      background: #F7F4EF;
  }
  
  .contact-us__wrapper {
    display: flex;
    justify-content: flex-start;
  }
  
  .contact-us__insert:last-child p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #555B60;
    padding-bottom: 40px;
    position: relative;
  }
  
  .contact-us__insert:last-child p::after {
    content: url(../../../../../images/contact_us_img.png);
    position: absolute;
    bottom: -225px;
    left: 100px;
    opacity: 0.2;
  }
  
  .contact-us__insert img {
    position: relative;
    z-index: 100;
    padding-left: 80px;
  }
  
  .contact-us__insert input:not(:last-child) {
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #555B60;
    width: 380px;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid #D8D8D8;
  }
  
  .contact-us__insert:first-child {
    margin-right: 80px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 70px;
  }
  
  .contact-us__wrapper textarea {
    height: 125px;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #555B60;
    margin-bottom: 70px;
    resize: none;
  }
  
  .contact-us__insert input:last-child {
    margin-left: 190px;
  }

  .contact-us input:focus,
  textarea:focus {
      outline: none;
  }